@media (min-width: 768px) {
	.projects-grid {
	  	display: grid;
	  	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	  	grid-gap: 0;
	  	padding: 2rem;
	}
	.project-image {
		border-radius: 4px;
		height: 26vh;
		width: 38vw;
	}
	.projects-section-header {
	  margin: .5em auto .3rem;
	}
}

/*SEGUIR DEPURANDO Y AJUSTANDO LOS TAMAÑOS GRANDES*/
/*En algunas resoluciones de tablet queda mucho espacio
entre los proyectos y la seccion de contacto*/
/*Corregir el nav list para tamaño desktop*/

@media (min-width: 992px) {
	.projects-grid {
	  	grid-gap: 2rem;
	}
}

@media (min-width: 1200px) {
	.projects-grid {
	  	grid-gap: 1rem;
	}
	.project-image {
		border-radius: 4px;
		height: 58vh;
		max-width: 95%;
	}
	.hidden-xl {
		display: none;	
	}
	.flex-xl {
		display: flex;
	}
	.justify-content-end-xl {
		justify-content: flex-end;
	}
	.mr-2-xl {
		margin-right: 2rem;
	}

}